---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Web Devil">
	<main class="flex flex-col gap-12 items-center mt-12">
		<h1 class="text-white text-center text-6xl mx-16">ברוכים הבאים ל־<span class="text-red-600">WEB DEVIL</span></h1>
		<section class="bg-white p-12 w-full">
			<h2 class="text-center text-2xl">בלוג פיתוח רשת וקוד פתוח לקהילת המפתחים דוברי העברית</h2>
			<h2 class="text-center text-2xl"><span class="bg-yellow-300">רוצים לתרום מאמר או כתבה מעניינת? פתחו PR כאן!</span></h2>
		</section>
	</main>
</Layout>
