---
import type { MarkdownLayoutProps } from 'astro';
import Layout from './Layout.astro';
type Props = MarkdownLayoutProps<{
        title: string;
        author: string;
        tags: string[];
}>

const { frontmatter: { title, tags, author } } = Astro.props;
---
<Layout title={title}>
    <div class="flex flex-col bg-white p-4">
        <h1 class="text-black font-sans font-bold text-6xl">{title}</h1>
        <h4>מאת: {author}</h4>
    </div>
	<article class="mx-64 text-center text-white">
		<slot />
	</article>
</Layout>